body{
    font-size: 14px;
}
.container{
    margin: 0 auto;
    width: 80%
}

.main-navigation {
    text-align: center;
    background: #fff;
    border-top: 1px solid #ebebeb;
    margin-bottom: 35px;
    border-bottom: 2px solid #e1e1e1;
}

.menu {
    padding: 0;
    margin: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.menu li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.menu li a {
    color: #505050;
    line-height: 4em;
    display: block;
    padding: 0 21px;
}