<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="com.ly.pojo.Comment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="post_id" property="postId" jdbcType="INTEGER"/>
        <result column="user_ip" property="userIp" jdbcType="VARCHAR"/>
        <result column="comment_date" property="commentDate" jdbcType="TIMESTAMP"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_email" property="userEmail" jdbcType="VARCHAR"/>
        <result column="comment_content" property="commentContent" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, post_id, user_ip, comment_date, state, user_name, user_email,comment_content
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from comment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ly.pojo.Comment">
    insert into comment (id, post_id, user_ip, 
      comment_date, state, user_name, 
      user_email,comment_content)
    values (#{id,jdbcType=INTEGER}, #{postId,jdbcType=INTEGER}, #{userIp,jdbcType=VARCHAR}, 
      #{commentDate,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR},#{commentContent,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.ly.pojo.Comment">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="postId != null">
                post_id,
            </if>
            <if test="userIp != null">
                user_ip,
            </if>
            <if test="commentDate != null">
                comment_date,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userEmail != null">
                user_email,
            </if>
            <if test="commentContent != null">
                comment_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="postId != null">
                #{postId,jdbcType=INTEGER},
            </if>
            <if test="userIp != null">
                #{userIp,jdbcType=VARCHAR},
            </if>
            <if test="commentDate != null">
                #{commentDate,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="commentContent != null">
                #{commentContent,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ly.pojo.Comment">
        update comment
        <set>
            <if test="postId != null">
                post_id = #{postId,jdbcType=INTEGER},
            </if>
            <if test="userIp != null">
                user_ip = #{userIp,jdbcType=VARCHAR},
            </if>
            <if test="commentDate != null">
                comment_date = #{commentDate,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="commentContent != null">
                #{commentContent,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ly.pojo.Comment">
    update comment
    set post_id = #{postId,jdbcType=INTEGER},
      user_ip = #{userIp,jdbcType=VARCHAR},
      comment_date = #{commentDate,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      comment_content = #{commentContent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>